* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #eaf1ff, #f7f9ff);
  margin: 0;
  padding: 40px;
}

.container {
  max-width: 720px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #1f2a44;
}

.card {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px 20px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-3px);
}

.left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo {
  width: 54px;
  height: 54px;
  border-radius: 14px;
  object-fit: cover;
}

.app-name {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.company {
  font-size: 14px;
  color: #666;
}

.btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;

  text-decoration: none;   /* ⭐ เอาเส้นใต้ออก */
  display: inline-block;   /* ⭐ ทำให้ a ดูเหมือนปุ่ม */
}


.btn:hover {
  background: #2563eb;
}

.subtitle {
  text-align: center;
  font-size: 14px;        /* ตัวเล็กกว่า title */
  color: #6b7280;         /* เทาอ่านง่าย */
  margin-top: -18px;     /* ดึงขึ้นมาใกล้ title */
  margin-bottom: 30px;   /* เว้นก่อนการ์ด */
}

